.footer {
  margin-top: 200px;
  margin-bottom: 55px;
}

.footer__links-list {
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-content: center;
  text-transform: uppercase;
}

.footer_link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: white;
  transition: 0.2s;
}

.footer_link:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.footer__about-site {
  margin: 0 auto;
  margin-top: 75px;
  display: flex;
  width: 100%;
  max-width: 1150px;
  justify-content: space-between;
  font-weight: 700;
}

.footer__info {
  font-size: 35px;
  line-height: 42px;
  color: #ff25c2;
}

@media (max-width: 960px) {
  .footer {
    margin-top: 170px;
    margin-bottom: 25px;
  }

  .footer__about-site {
    margin-top: 55px;
  }
}

@media (max-width: 780px) {
  .footer {
    margin-top: 65px;
    margin-bottom: 25px;
  }

  .footer__about-site {
    margin-top: 55px;
  }

  .footer__links-list {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer__about-site {
    justify-content: center;
    gap: 10px;
  }

  .footer__info {
    font-size: 22px;
    line-height: 27px;
  }
}
