.models {
    margin-top: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.models__list {
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.models__item {
    position: relative;
    height: fit-content;
    width: 100%;
    height: 645px;
}

.models__image {
    object-fit: cover;
    height: 645px;
    width: 100%;
    position: relative;
    max-width: 1150px;
    border-radius: 30px;
    border: 1px solid #fff;
}

.models__header {
    position: absolute;
    top: 50px;
    left: 50px;
}

.models__case-image {
    position: absolute;
    bottom: 200px;
    left: 50px;
    max-width: 140px;
    max-height: 140px;

}

.models__btn {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 100%;
    max-width: 420px;
}

@media (min-width: 992px) {}