.phone {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
}

.phone__header {
    width: 100%;
    max-width: 560px;
}

.phone__nothing-phone {
    position: relative;
}

.phone__image {
    width: 100%;
    max-width: 560px;
    height: 645px;
    object-fit: cover;
    border-radius: 30px;
}

.phone__header-nothing-phone {
    position: absolute;
    top: 50px;
    left: 35px;
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.phone_negro-image {
    position: absolute;
    bottom: 50px;
    left: 35px;
}

@media (max-width: 960px) {
    .phone {
        margin-top: 150px;
        flex-wrap: wrap;
        justify-content:end;
        row-gap: 60px;
    }

    .phone__header{
        max-width: 100%;
        margin-right: 100px;
    }
    
    .phone__image {
        max-width: 100%;
    }
}

@media (max-width: 780px) {
    .phone {
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content:center;
        row-gap: 50px;
    }

    .phone__header{
        max-width: 100%;
        margin-right: 0;
    }
   
    .phone_negro-image {
        bottom: 45px;
    }
}